*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Mulish', sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
}
h1{
    margin-bottom: 1rem;
    font-size: 48px;
    font-weight: bold;
}
h2{
    margin-bottom: 1rem;
    font-size: 2rem;
}
h3{
    margin-bottom: 0.8rem;
}
h4{
    margin-bottom: 0.8rem;
}
p{
    margin-bottom: 1rem;
    line-height: 27px;
    color: #7D7987;
    font-weight: 300;
}
button{
    border: 1.5px solid #458FF6;
    padding: 15px 40px;
    color: #458FF6;
    background: white;
    border-radius: 55px;
    cursor: pointer;
    display: block;
    font-weight: bold;
}
ul{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: inherit;
}
/* start navbar */
.navbar{
    overflow: auto;
    width: 100%;
    background-color: white;
}
.navbar_logo{
    float: left;
    padding: 1.5rem 0;
}
.navbar_logo img{
    display: block;
}
.navbar_links{
    float: right;
    list-style: none;
    padding: 2.2rem 0;
}
.navbar_links li{
    display: inline-block;
    padding-left: 40px;
    text-transform: capitalize;
}
.navbar_links .active{
    font-weight: bold;
}
/* end navbar */
/* start header */
.header{
    overflow: auto;
}
.header .container{
    display: table;
}
.header_content{
    width:50%;
    display: table-cell;
    vertical-align: middle;
    padding-right: 109px;
}
.header_content button{
    border: none;
    padding: 15px 28px;
    color: white;
    background: #458FF6;
}
.header_img{
    width: 50%;
    display: table-cell;
    vertical-align: middle;
}
.header_img img{
    width: 100%;
    display: block;
}
.header p{
    font-weight: 300;
    font-size: 18px;
}
/* end header */
/* start services */
.services{
    overflow: auto;
    padding: 6rem 0;
    background-image: url(../images/Vector.png), url(../images/element\ \(2\).png);
    background-repeat: no-repeat;
    background-size: 60%, 8%;
    background-position: -10% 20%, 86.5% 53%;
}
.services_offered{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
}
.services_offered-types{
    width: 90%;
    margin: 0 auto;
    overflow: auto;
    padding-bottom: 70px;
}
.services_offered-type{
    width: 30%;
    float: left;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    height: 300px;
    padding: 60px 25px;
    background-color: white;
    margin: 0 16px;
    margin-bottom: 25px;
}
.services p{
    font-size: 14px;
}
.services h2::after{
    content: '';
    display: block;
    border-bottom: 2px solid black;
    width: 5.5%;
    margin: 20px auto 0;
}
.services_offered-type-img{
    height: 90px;
    width: 90px;
    margin-bottom: 10px;
}
.services_offered-type-img img{
    width: 60%;
}
.services button{
    margin: 0 auto;
}
/* end services */
/* start providers */
.providers{
    overflow: auto;
    padding: 6rem 0;
    background-image: url(../images/element.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 5%;
}
.providers_img{
    float: left;
    width: 50%;
}
.providers_img img{
    width: 100%;
    display: block;
}
.providers_content{
    float: right;
    width: 50%;
    padding-left: 113px;
    padding-right: 80px;
    margin-top: 50px;
}
.providers h2{
    line-height: 50px;
}
.providers h2::after{
    content: '';
    display: block;
    border-bottom: 2px solid black;
    width: 15%;
    margin: 20px 0 0;
}
.providers p, .apps p{
    font-size: 15px;
}
/* end providers */
/* start apps */
.apps{
    overflow: auto;
    padding: 5rem 0;
}
.apps_img{
    float: right;
    width: 50%;
}
.apps_img img{
    width: 100%;
    display: block;
}
.apps_content{
    float: left;
    width: 50%;
    padding-left: 100px;
    padding-right: 118px;
    margin-top: 50px;
}
.apps h2{
    width: 220px;
    line-height: 50px;
}
.apps h2::after{
    content: '';
    display: block;
    border-bottom: 2px solid black;
    width: 23%;
    margin: 20px 0 0;
}
.apps i{
    margin-left: 10px;
    font-size: 14px;
}
/* end apps */
/* start testimonials */
.testimonials{
    padding: 5rem 0;
    background: url(../images/element\ \(2\).png);
    background-size: 8%;
    background-repeat: no-repeat;
    background-position: 13% 50%;
}
.testimonials_card{
    background: url(../images/element\ \(2\).png), linear-gradient(#67C3F3 9.05%, #5A98F2 76.74%);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 10%, 100%;
    border-radius: 24px; 
    width: 87%;
    margin: 0 auto 40px;
    padding: 60px 95px;
    color: white;
}
.testimonials_card h2{
    text-align: center;
}
.testimonials h2::after{
    content: '';
    display: block;
    border-bottom: 2px solid white;
    width: 6%;
    margin: 20px auto 0;
}
.testimonials_card-content{
    overflow: auto;
}
.testimonials_card-img{
    float: left;
    width: 50%;
    display: table;
}
.testimonials_card-img-image{
    display: table-cell;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}
.testimonials_card-img-image img{
    border: 3px solid white;
    border-radius: 50%;
    width: 100%;
}
.testimonials_card-img-name{
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}
.testimonials_card-img-name h4{
    font-size: 18px;
    margin-bottom: 5px;
}
.testimonials_card-img-name h5{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.9;
}
.testimonials_card-quote{
    float: right;
    width: 50%;
    margin: 10px 0;
    padding: 0 20px;
}
.testimonials_card-quote p{
    color: white;
    margin-bottom: 0;
}
.testimonials_arrows{
    display: table;
    margin: 0 auto;
    padding: 50px 0;
}
.testimonials_arrows span{
    padding: 0px 50px;
    vertical-align: middle;
}
.testimonials_arrows i{
    color: #5B9BF3;
    opacity: 0.3;
    font-size: 30px;
}
.testimonials_arrows span i{
    padding: 0 8px;
    font-size: 10px;
    display: table-cell;
}
.testimonials_arrows .arrow-right{
    opacity: 1;
}
.testimonials_arrows span i:first-child{
    opacity: 1;
}
.testimonials_arrows .arrow-right, .testimonials_arrows .arrow-left{
    display: table-cell;
    vertical-align: middle;
}
/* end testimonials */
/* start article */
.article{
    padding: 5rem 0 10rem;
    background-image: url(../images/element\ \(1\).png), url(../images/element\ \(2\).png), url(../images/element\ \(2\).png);
    background-repeat: no-repeat;
    background-position: 100% 25%, 13% 22%, 93% 104%;
    background-size: 35%, 8%, 8%;
}
.article h2{
    text-align: center;
    margin-bottom: 80px;
}
.article h2::after{
    content: '';
    display: block;
    border-bottom: 2px solid black;
    width: 5%;
    margin: 20px auto 0;
}
.article_cards{
    width: 90%;
    margin: 0 auto;
    overflow: auto;
    padding-bottom: 70px;
}
.article_card{
    width: 30.2%;
    float: left;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    background-color: white;
    border-radius: 20px;
    margin: 0 15px;
}
.article_card-img img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.article_card-content{
    padding: 20px 30px;
}
.article_card-content p{
    font-size: 14px;
}
.article_card-content h5{
    color: #4089ED;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.article_card-content h5 i{
    padding-left: 15px;
    font-size: 10px;
}
.article button{
    margin: 0 auto;
    font-size: 15px;
    padding-right: 50px;
    padding-left: 50px;
}
/* end article */
/* start footer */
.footer{
    padding: 100px 0;
    background: url(../images/element\ \(2\).png), linear-gradient(#67C3F3 -8.57%, #5A98F2 82.96%);
    background-repeat: no-repeat;
    background-position: -1% 105%;
    background-size: 8%, 100%;
}
.footer_items{
    overflow: auto;
    color: white;
    width: 95%;
    margin: 0 auto;
}
.footer_item{
    width: 20%;
    float: left;
    padding-right: 75px;
}
.footer_item:first-child{
    width: 40%;
    float: left;
}
.footer h5{
    margin-top: 10px;
    font-size: 17px;
}
.footer p{
    color: white;
    font-weight: 300;
    opacity: 0.9;
}
.footer p:last-child{
    font-size: 13px
}
.footer span{
    color: #5B9BF3;
    background-color: white;
    height: 37px;
    width: 37px;
    line-height: 37px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}
.footer ul{
    padding-top: 20px;
}
.footer ul li{
    padding-bottom: 13px;
    font-weight: 300;
    opacity: 0.9;
}

/* end footer */
